@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  text-align: center;
}
.details-zone{
  background-image: url("https://images.pexels.com/photos/1166644/pexels-photo-1166644.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1{
  background:linear-gradient( #0ef7a9 , #267e5b , #093028);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.image-preview{
  height: 300px;
  width: 100%;
  position: relative;
}
.image-preview .wrapper{
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background: #fff;
  border: 2px dashed #c2cdda;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.wrapper.active{
  border: none;
}
.wrapper .image{
  
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper img{
  height: 100%;
  width: 100%;
  object-fit:fill;
  width: 100%;
}

.wrapper .text{
  font-size: 20px;
  font-weight: 500;
  color: #5B5B7B;
}
.wrapper #cancel-btn i{
  position: absolute;
  font-size: 20px;
  right: 15px;
  top: 15px;
  color: #237A57;
  cursor: pointer;
  display: none;
}

.wrapper .file-name{
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  color: #fff;
  display: none;
  background: linear-gradient(135deg,#3a8ffe 0%,#237A57 100%);
}
.wrapper.active:hover .file-name{
  display: block;
}
 #custom-btn{
  margin-top: 1.3rem;
  margin-bottom: 1.3rem;
 
  height: 45px;
  border: none;
  outline: none;
  border-radius: 12px;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 480;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  background: linear-gradient(135deg,#0b2c35 0%,#2ea5a5 100%);
}
@media(min-width:500px){
  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .wrapper img{
    height: 100%;
    width: 70%;
    object-fit: cover;
  }

}
